# Python
__pycache__/
*.py[cod]
*.pyo

# Virtual env
.venv/
venv/
env/

# Django
db.sqlite3
media/
staticfiles/

# Environment
.env

# IDE
.idea/
.vscode/

# OS files
.DS_Store
Thumbs.db